@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playwrite+NO:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* header innerboxheader */
header .innerboxheader {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  height: 70px;
  border-radius: 38px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  gap: 20px;
}
/* end header innerboxheader */

/* header innermenu */
header .innermenu {
  flex-wrap: nowrap;
  padding: 0px;
  margin-bottom: 0px;
  font-size: 13px;
  display: flex;
  list-style-type: none;
}
header .innericonmobile {
  display: none;
}
/* end header innermenu */

/* header innertext */
header .innertext {
  transition: 0.4s;
  padding: 0 20px;
  text-decoration: none;
  color: var(--color-text-two);
  font-weight: 500;
}
/* end header innertext */

/* header innertext1 */
header .innertext1 {
  padding: 0 20px;
  font-size: 13px;
  text-decoration: none;
  color: var(--color-one);
  font-weight: 500;
}
/* end header innertext1 */

/* header innertext hover */
header .innertext:hover {
  color: var(--color-one);
  transition: 0.4s;
}
/* end header innertext hover */

/* section 1 */
.section1 {
  padding-top: 15%;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://templatemo.com/templates/templatemo_535_softy_pinko/assets/images/banner-bg.png");
  width: auto;
  height: 100vh;
}
/* end section 1 */

/* section 1 innertextbussiness */
.section1 .innertextbusiness {
  margin-bottom: 22px;
  color: var(--color-text);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* end section 1 innertextbussiness */

/* section 1 innertextbusiness h1 */
.section1 .innertextbusiness h1 {
  font-size: 36px;
  text-align: center;
}
/* end section 1 innertextbusiness h1 */

/* section 1 innertextbusiness p */
.section1 .innertextbusiness p {
  text-align: center;
  max-width: 600px;
  font-size: 15px;
}
/* end section 1 innertextbusiness p */

/* section1 innertextbusiness innerDiscoverMore */
.section1 .innertextbusiness .innerDiscoverMore {
  font-size: 15px;
  background: #ff589e;
  width: 170px;
  height: 40px;
  color: white;
  font-weight: 400;
  border: 0px;
  border-radius: 40px;
  transition: 0.6s;
}
/* end  section1 innertextbusiness innerDiscoverMore */

/* innerDiscoverMore:hover */
.section1 .innertextbusiness .innerDiscoverMore:hover {
  background: var(--color-two);
  transition: 0.6s;
}
/* end innerDiscoverMore:hover */

/* itemicon */
.section2 .itemicon {
  margin-bottom: 20px;
  padding: 0 20px;
  border-radius: 50px;
  align-content: center;
  background: var(--color-two);
  height: 100px;
  width: 100px;
  transition: 0.5s;
}
/* end itemicon */

/* section2 item */
.section2 .item {
  margin-bottom: 27px;
  align-items: center;
  text-align: center;
  flex-direction: column;
  display: flex;
  background: rgb(255, 255, 255);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
  border-radius: 20px;
}
/* end section2 item */

/* section2 h5 */
.section2 .item h5 {
  margin-bottom: 20px;
}
/* end section2 h5 */

/* section2 item p */
.section2 .item p {
  width: 101%;
}
/*end section2 item p */

/* section2 boxheader */
.section2 .boxheader {
  margin-top: -200px;
}
/* end section2 boxheader */

/* section2 item hover */
.item1:hover .itemhover1 {
  cursor: pointer;
  background: var(--color-one);
  transition: 0.5s;
}
.item2:hover .itemhover2 {
  cursor: pointer;
  background: var(--color-one);
  transition: 0.5s;
}
.item3:hover .itemhover3 {
  cursor: pointer;
  background: var(--color-one);
  transition: 0.5s;
}
.item:hover {
  cursor: pointer;
}
/* end section2 item hover */

/* section3 */
.section3 {
  padding-top: 100px;
}
/*end section3 */

/* text section3 */
.section3 .itemtext h2 {
  font-size: 24px;
  padding-bottom: 20px;
}
.section3 .itemtext p {
  font-size: 16px;
  color: var(--color-text-three);
}
/*end text section3 */

/* section 3 img */
.section3 .itemimg {
  text-align: center;
  padding-bottom: 20px;
}
/*end section 3 img */

/* hr section3 */
.section3 .hr {
  border-top: 0.01px solid #89898943;
  margin-top: 100px;
  margin-bottom: 100px;
}
/*end hr section3 */

/* section 4 */
.section4 {
  padding-bottom: 100px;
}
/*end section 4 */

/* text section4 */
.section4 .itemtext h2 {
  font-size: 24px;
  padding-bottom: 20px;
}
.section4 .itemtext p {
  font-size: 16px;
  color: var(--color-text-three);
}
/*end text section4 */

/* section 4 img */
.section4 .itemimg {
  text-align: center;
  padding-bottom: 20px;
}
/*end section 4 img */

/* section 5 background */
.innerbox {
  z-index: 3;
  position: relative;
}
.section5 {
  padding: 50px 0;
  position: relative;
  overflow: hidden;
}
.section5:before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 120vh;
  padding: 100px 0;
  background-image: url("https://templatemo.com/templates/templatemo_535_softy_pinko/assets/images/work-process-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
}
/*end section 5 background */

/* section 5 box */
.section5 .box {
  margin-bottom: 20px;
  height: 200px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  position: relative;
  flex-direction: column;
  background: var(--color-text);
  border-radius: 20px;
}
.section5 .box:before {
  margin-top: 14px;
  margin-left: 23px;
  content: "";
  background: rgba(255, 255, 255, 0.249);
  border-radius: 20px;
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
}
/* section 5 box text */
.section5 .box strong {
  position: relative;
  z-index: 2;
  font-size: 17px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 5px;
}
.section5 .box p {
  font-size: 14px;
  color: var(--color-text-three);
  max-width: 101px;
}
/*end section 5 box text */

/*end section 5 box */

/* section 5 text */
.section5 .itemtext {
  margin-top: 50px;
  color: var(--color-text);
  text-align: center;
}
.section5 .itemtext h1 {
  position: relative;
  z-index: 2;
  font-size: 26px;
}
.section5 .itemtext p {
  position: relative;
  z-index: 2;
  margin-top: 20px;
  margin-bottom: 60px;
  font-size: 15px;
  margin-right: auto;
  max-width: 600px;
  margin-left: auto;
}
/* end section 5 text */

/* section 5 img */
.section5 .box img {
  width: 32px;
  height: auto;
}
/* end section 5 img */

/* section 6 What do they say?*/
.section6 .itemtext {
  text-align: center;
}
.section6 .itemtext p {
  margin-bottom: 40px;
  color: var(--color-text-three);
  font-size: 15px;
}
.section6 .itemtext h2 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 400;
}
.section6 .itemtext .innertext {
  margin-right: auto;
  margin-left: auto;
  max-width: 480px;
}
/*end section 6 What do they say? */

/* section 6 */
.section6 {
  padding: 80px 0;
}
/*end section 6 */

/* section 6 boxmain */
.section6 .innerboxmain {
  margin-bottom: 20px;
}
/*end section 6 boxmain */

/* section 6 box */
.section6 .box {
  height: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  flex-direction: column;
  display: flex;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 30px;
}
.section6 .box img {
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 32px;
  height: auto;
}
.section6 .box h3 {
  font-size: 17px;
  font-weight: 400;
}
.section6 .box p {
  font-size: 15px;
  color: var(--color-text-three);
}
.section6 .box .innertext {
  color: var(--color-one);
}
.section6 .box .itemtext {
  text-align: left;
  margin-left: 70px;
}
.section6 .box .itemtext2 {
  display: flex;
}
.section6 .box .itemtext1 {
  margin-top: auto;
}
.section6 .box .itemtext2 {
  margin-left: 0px;
}
.section6 .box .itemtext3 {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
}
.section6 .box .itemimg {
  border-radius: 50px;
  height: 100px;
  width: 100px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
/*end section 6 box */

/* section 7 */
.section7 {
  padding: 60px 0;
  background-color: var(--color-background);
}

.section7 .innerbox {
  margin-bottom: 20px;
  font-size: 13px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  flex-direction: column;
  display: flex;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 20px;
}
.section7 .innerbox .box {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  margin-left: 5%;
  background: var(--color-two);
  text-align: center;
  margin-bottom: 30px;
  padding: 15px 0;
  border-radius: 20px;
}
/* section 7 inner box 2 */
.section7 .innerbox .box1 {
  background: var(--color-one);
}
/*end section 7 inner box 2 */
.section7 .innerbox h3 {
  font-size: 17px;
  margin-bottom: 20px;
}
.section7 .innerbox .box span {
  color: var(--color-text);
  font-size: 14px;
  margin-bottom: 10px;
}
.section7 .innerbox .box .innertext {
  color: var(--color-text);
  margin-bottom: 2px;
  font-size: 28px;
}
.section7 .innerbox .box .innermoney {
  font-size: 32px;
}
.section7 .innerbox p {
  color: var(--color-text-three);
  margin-bottom: 10px;
}
.section7 .innerbox del {
  color: var(--color-text-three);
  margin-bottom: 10px;
}
.section7 .innerbox .innerbutton {
  margin-top: 20px;
  background: var(--color-two);
  text-decoration: none;
  color: var(--color-text);
  padding: 10px 0;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 20px;
  transition: 0.5s;
}
/*end section 7 */

/* button section 7 hover */
.section7 .innerbox .innerbutton:hover {
  background: var(--color-one);
  transition: 0.5s;
}
/*end button section 7 hover */

/* section7 itemtext */
.section7 .itemtext {
  text-align: center;
  margin-bottom: 70px;
}
.section7 .itemtext h2 {
  font-weight: 450;
  font-size: 28px;
}
.section7 .itemtext p {
  font-size: 15px;
  color: var(--color-text-three);
  font-weight: 500;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
/*end section7 itemtext */

/* section 8 */
.section8 {
  position: relative;
  height: 30vh;
  overflow: hidden;
}
.section8 .innerbox {
  margin-top: 27%;
  color: var(--color-text);
  font-size: 17px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.section8 .box1::after {
  left: -20%;
  top: 35%;
  content: "";
  background-image: url("https://templatemo.com/templates/templatemo_535_softy_pinko/assets/images/circle-dec.png");
  position: absolute;
  height: 50px;
  width: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}
.section8 .innerbox strong {
  font-size: 30px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
.section8:before {
  content: "";
  position: absolute;
  z-index: 1;
  background-image: url("https://templatemo.com/templates/templatemo_535_softy_pinko/assets/images/fun-facts-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 31vh;
  width: 100%;
  overflow: hidden;
}
/*end section 8 */

/* section 9 */
.section9 {
  padding: 60px 0;
}
.section9 .innerbox {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}
/*end section 9 */

/* section 9 innertext */
.section9 .innertext {
  margin-top: 30px;
  font-size: 15px;
  text-align: center;
}
.section9 .innertext p {
  color: var(--color-text-three);
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.section9 .innertext h2 {
  font-size: 28px;
  font-weight: 480;
}
.section9 .innerbox a {
  font-size: 18px;
  text-decoration: none;
  color: var(--color-text-two);
  transition: 0.3s;
  font-weight: 480;
}
.section9 .innerbox a:hover {
  color: var(--color-one);
  transition: 0.3s;
}
.section9 .innerbox p {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
  color: var(--color-text-three);
}
.section9 .innerbox .button {
  font-size: 13px;
  background: var(--color-two);
  padding: 10px 0;
  margin-left: 32%;
  margin-right: 32%;
  border-radius: 25px;
  color: var(--color-text);
}
.section9 .innerbox .button:hover {
  background: var(--color-one);
  color: var(--color-text);
}
/*end section 9 innertext */

/* section 10 */
.section10 .innertext h2 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}
.section10 .innertext .textbox {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 50px;
  color: var(--color-text-three);
}
.section10 {
  padding: 100px 0;
  background: var(--color-background);
}
.section10 .innerbox h5 {
  margin-bottom: 30px;
  font-size: 18px;
}
.section10 .innerbox p {
  font-size: 14px;
  color: var(--color-text-three);
  max-width: 329px;
}
.section10 .form-control {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  background: var(--color-text);
  border-radius: 20px;
  border: 0px solid;
}
.section10 .innerform {
  height: 150px;
  margin-bottom: 20px;
}
.section10 button {
  background: var(--color-two);
  border: 0px;
  border-radius: 20px;
  font-size: 13px;
  padding: 10px 20px;
  color: var(--color-text);
  transition: 0.5s;
}
/* button */
.section10 button:hover {
  background: var(--color-one);
  transition: 0.5s;
}
/*end button */

/*end section 10 */

/* footer */
footer {
  padding: 30px 0;
  overflow: hidden;
  background: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
}
footer .innericon {
  cursor: pointer;
  text-align: center;
  font-size: 25px;
  color: white;
  transition: 0.6s;
}
footer .innericon .fa-facebook {
  transition: 0.6s;
}
footer .innericon .fa-twitter {
  transition: 0.6s;
}
footer .innericon .fa-dev {
  transition: 0.6s;
}
footer .innericon .fa-facebook:hover {
  cursor: pointer;
  color: var(--color-one);
  transition: 0.6s;
}
footer .innericon .fa-twitter:hover {
  cursor: pointer;
  color: var(--color-one);
  transition: 0.6s;
}
footer .innericon .fa-dev:hover {
  cursor: pointer;
  color: var(--color-one);
  transition: 0.6s;
}
footer .hr {
  border-top: 1px solid #f2f2fece;
  opacity: 0.5;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20px;
  margin-top: 20px;
}
footer .innertext {
  font-size: 15px;
  color: white;
  text-align: center;
}
/*end footer */

/* media 992px */
@media (max-width: 992px) {
  header .innermenu {
    display: none;
  }
  header .innericonmobile {
    display: block;
    cursor: pointer;
  }
}
/* end media 992px */

/* media 768px */
@media (max-width: 768px) {
  .section8 {
    height: 117vh;
  }
  .section8:before {
    height: 126vh;
  }
  .section8 .box1::after {
    display: none;
  }
  .section5:before {
    height: 135vh;
  }
  .section1 {
    padding-top: 20%;
  }
}
/*end media 768px */
